{
  "presets": [
    "es2015",
    "react"
  ],
  "plugins": [
    "babel-plugin-add-module-exports",
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-async-to-generator",
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }]
  ]
}