.img-xl {
    width: 128px;
    height: 128px;
}

.img-xxl {
    width: 160px;
    height: 160px;
}

.form-horizontal .form-group {
    margin-right: 0px;
    margin-left: 0px;
}

/*React Tags input*/
.react-tagsinput {
    background-color: #fff;
    border: 1px solid #ccc;
    overflow: hidden;
    padding-left: 5px;
    padding-top: 5px;
}

.has-error .react-tagsinput {
    border-color: #ed5565;
}

.react-tagsinput--focused {
    border-color: #1ab394;
}

.has-error .react-tagsinput--focused {
    border-color: #1ab394;
}

.react-tagsinput-tag {
    background-color: #1ab394;
    border-radius: 2px;
    border: 0px;
    color: #fff;
    display: inline-block;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 5px;
}

.react-tagsinput-remove {
    cursor: pointer;
    font-weight: bold;
    color: #fff;
}

.react-tagsinput-tag a::before {
    content: " × ";
}

.react-tagsinput-input {
    background: transparent;
    border: 0;
    color: #777;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 6px;
    margin-top: 1px;
    outline: none;
    padding: 5px;
    width: 80px;
}

/*tags*/
.tag-list li a {
    font-size: 10px;
    background-color: #f3f3f4;
    padding: 5px 12px;
    color: inherit;
    border-radius: 2px;
    border: 1px solid #e7eaec;
    margin-right: 5px;
    margin-top: 5px;
    display: block;
    cursor: default;
}

customDim {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding-top: 6px;
    margin-right: 10px;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 600;
    margin-bottom: 20px !important;
}

/*react-select*/
/*updated the z-index*/
.Select-menu-outer {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top-color: #e6e6e6;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    margin-top: -1px;
    max-height: 200px;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 999;
    -webkit-overflow-scrolling: touch;
}

.headerRow,
.evenRow,
.oddRow {
    border-bottom: 1px solid #e0e0e0;
}

.oddRow {
    background-color: #fafafa;
}

.evenRow:hover {
    background-color: #F9F9F9;
}

.oddRow:hover {
    background-color: #F9F9F9;
}

.headerColumn {
    text-transform: none;
}

.exampleColumn {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.checkboxLabel {
    margin-left: .5rem;
}

.checkboxLabel:first-of-type {
    margin-left: 0;
}

.noRows {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    color: #bdbdbd;
}

.ibox-table {
    clear: inherit;
}

.table-space-large table tr td {
    border-top: none;
    border-bottom: 1px solid #e7eaec;
    padding: 15px 10px;
    vertical-align: middle;
}

.table-space-medium table tr td {
    border-top: none;
    border-bottom: 1px solid #e7eaec;
    padding: 10px 10px;
    vertical-align: middle;
}

.table-space-small table tr td {
    border-top: none;
    border-bottom: 1px solid #e7eaec;
    padding: 6px 10px;
    vertical-align: middle;
}

.table-row-selected-primary {
    background-color: #1ab394 !important;
    color: white !important;
}

.table-row-selected-primary h4 {
    color: white !important;
}

.table-row-selected-primary div {
    color: white !important;
}

.table-row-selected-primary h4 small {
    color: white !important;
}

/* Dropzone */
.dropzone {
    min-height: 240px;
    border: 1px dashed #1ab394;
    background: white;
    padding: 0px 0px;
}

.dropzone .dz-message {
    font-size: 16px;
}

.dropzone .dz-preview .dz-image {
    border-radius: 5px;
    overflow: hidden;
    width: 220px;
    height: 220px;
    position: relative;
    display: block;
    z-index: 10;
}

.dropzone .dz-preview {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    min-height: 220px;
    min-width: 220px;

}

.dropzone .dz-preview.dz-file-preview .dz-image {
    border-radius: 5px;
    background: #999;
    background: linear-gradient(to bottom, #eee, #ddd);
}

/*React-Select*/
.is-focused:not(.is-open) > .Select-control {
    border-color: #1ab394 !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(0, 126, 255, 0.1);
}

/*Json Viewer*/
.json-pretty {
    line-height: 1.3;
    color: brown;
    background: ghostwhite;

}

.json-key {
    color: brown

}

.json-value {
    color: navy

}

.json-string {
    color: #244bfd

}

.json-boolean {
    color: #AC81Fe

}

/*Auto Select*/
.autoSelect h4 {
    font-size: 9pt !important;
}

.autoSelect h4 small {
    font-size: 8pt !important;
}



/*Auto Select*/
.route-side-panel label {
    font-size: 8pt !important;
}
.route-side-panel h4 {
    font-size: 9pt !important;
}


.logo-element-image{
    width: 50px;
}