.content-editable {
    position: relative;
    display: inline-block;
}

.content-editable:hover .editable {
    display: block;
}

.editable {
    margin-top: -20px;
    position: absolute;
    right: 0;
    top: 0;
    display: none;
}

.editable a {
    color: #1ab394;
}